@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 0px #000000;
    background-color: #212124;
}

.visible {
    display: block !important;
}

.selected {
    background-color: #16c60c;
}

#settings, #infobox {
    font-size: x-small;
    position: fixed;
    bottom: 30px;
    z-index: 99;
}

#settings {
    right: 30px;
}

#infobox {
    left: 30px;
}

#myCanvas {
    position: absolute;
}

#startGame,
#gameOver {
    display: none;
    background-color: #212124;
    padding: 2em;
    z-index: 99;
}

#startBtn:hover,
#endBtn:hover,
#info,
#wasd {
    color: #16c60c;
}

#endBtn {
    font-size: x-small;
}

#startBtn,
#endBtn,
#fullscreenBtn,
#soundsBtn {
    cursor: pointer;
}

#fullscreenBtn,
#soundsBtn,
#info,
#wasd {
    margin-right: 1em;
    margin-left: 1em;
}

#fullscreenBtn,
#soundsBtn {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 2px solid #16c60c;
}