@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #ffffff;
    font-size: x-large;
    text-shadow: 3px 3px 0px #000000;
    background-color: #212124;
}

.visible {
    visibility: visible !important;
}

.selected {
    background-color: #16c60c;
}

#settings,
#infobox {
    font-size: x-small;
    position: fixed;
    bottom: 30px;
    z-index: 99;
}

#settings {
    right: 30px;
}

#infobox {
    left: 30px;
}

#myCanvas {
    position: absolute;
}

#startGame,
#mode,
#gameOver {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    visibility: hidden;
    background-color: #000000;
    z-index: 99;
}

#startBtn:hover,
#endBtn:hover,
#newMode:hover,
#classicMode:hover,
#menuBtn:hover,
#info,
#wasd,
#goal {
    color: #16c60c;
}

#endBtn,
#newMode,
#classicMode,
#menuBtn {
    font-size: small;
}

#startBtn,
#endBtn,
#fullscreenBtn,
#soundsBtn,
#newMode,
#classicMode,
#menuBtn {
    cursor: pointer;
}

#fullscreenBtn,
#soundsBtn,
#info,
#wasd,
#goal {
    margin-right: 1em;
    margin-left: 1em;
}

#fullscreenBtn,
#soundsBtn {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 2px solid #16c60c;
}